.THIS .product-wrapper {
    padding: 0;
    border-radius: 5px 5px 0 0;
	/* max-height: 165px;*/
    max-width: 150px;
    height: max-content;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    transition: all 200ms ease-in-out;
}
.THIS .product-wrapper:hover{
    box-shadow:0 2px 5px rgba(0,0,0,0.5);
}
.THIS .image-wrapper.max-height{
    min-width: 100%;
}
.THIS .inactiveProduct{
    filter: grayscale(60%);
    background: #7e7575;
    color: #fff;
    opacity: 0.8;
}
.THIS .noimage {
    margin: 0 auto;
    width: 150px;
    height: 150px;
}
.THIS .noimage:hover{
    transform: scale(0.9);
}
.THIS .noimagetext{
    font-size: 2rem;
    font-weight: 600;
}
.THIS .prodctimage {
    margin: 0 auto;
    width: 150px;
    height: 150px;
}
.THIS .prodctimage:hover{
    transform: scale(1.2);
}
.THIS .product-title{
    font-weight: 700;
    padding: 0.2em 0.2rem 0;
}
@media only screen and (max-width: 768px){
    .THIS .product-wrapper {
        max-width: 75px;
        height: max-content;
        text-align: center;
    }
    .THIS .image-wrapper, .THIS .image-wrapper img{
        width: 75px;
        height: 75px;
    }
}
@media only screen and (max-width: 480px){
    .THIS .product-wrapper {
        max-width: 110px;
        height: max-content;
        text-align: center;
    }
    .THIS .image-wrapper, .THIS .image-wrapper img{
        width: 75px;
        height: 75px;
    }
}