.THIS .product-wrapper {
    padding: 0;
    border-radius: 5px 5px 0 0;
	/* max-height: 165px;*/
/*     max-width: 150px;
 */    height: max-content;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    transition: all 200ms ease-in-out;
}
.THIS .product-wrapper:hover{
    box-shadow:0 2px 5px rgba(0,0,0,0.5);
}
.THIS .image-wrapper.max-height{
    min-width: 100%;
}
.THIS .prodctimage {
    margin: 0 auto;
    width: 100%;
}
.THIS .prodctimage:hover{
    transform: scale(0.8);
}
.THIS .product-title{
    font-weight: 700;
}
@media only screen and (max-width: 768px){
    .THIS .product-wrapper {
        height: max-content;
        text-align: center;
    }
    
}
@media only screen and (max-width: 480px){
    .THIS .product-wrapper {
        height: max-content;
        text-align: center;
    }
   
}
/**/
.THIS .slds-dropdown {
	max-width: 100% !important;
}

.THIS .slds-input-has-icon .slds-input__icon {
    pointer-events: none;
}

.THIS .selected {
    cursor: pointer !important;
    background: #ecebea;
}
.THIS .slds-section__title-action {
    background: var(--lwc-colorBackgroundButtonDefaultActive,rgb(243, 243, 243));
    color: inherit;
}