.THIS .sm-text-highlight{
    font-weight: bolder;
    font-size: 13px;
}
.THIS .pl-5px{
    padding-left: 5px;
}
.THIS .skyblue-text{
    color: #007fec;
}
.THIS .grey-text{
    color: #5c5c5c;
}
.THIS .height72{
    min-height: 72vh;
}
.THIS .cartcontainer{
    padding-bottom: 100%;
    margin-bottom: -100%;
}
.THIS .cartitemname{
    width:180px;
}
.THIS .flex-row-gap-10px{
    row-gap: 10px;
}
@media only screen and (max-width: 768px){
    .THIS .cartitemname{
        width:135px;
    }
    .THIS .cartitemsList{
        height: 400px;
        overflow:hidden scroll;
    }
}
@media only screen and (max-width: 480px){
    .THIS .cartitemname{
        width:100px;
    }
}